<div class="container">
  <% if current_user.orders.present? %>
    <h3>Your Total Revenue of the products</h3>
    <table class = "table table-striped table-bordered" >
      <thead class="table-secondary">
        <tr>
          <th>Total Revenue</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><span>Rs </span><%= @price_revenue %></td>
          </tr>
      </tbody>
    </table>
  <% end %>

</div>
