<div class="my-4">

<h1><b>Editing Product</b></h1>

<%= render 'form', product: @product %></br>

<%= link_to 'Show', @product, class: 'btn btn-primary'%> |
<%= link_to 'Back', products_path, class: 'btn btn-dark'%>
